@page "/Schedule"
@layout NewLayout

@inject IScheduleUserService scheduleUserService
@inject IUserService userService

<h3>Cadastro Agenda do Colaborador</h3>
<NavLink href="ScheduleCreate" class="btn btn-info">
	Nova Agenda
</NavLink>

@if (scheduleUserView is null)
{
	<div class="spinner-border" role="status">
		<span class="visually-hidden">Loading...</span>
	</div>
}
else
{
	<TableSchedule ScheduleUserView="@scheduleUserView" DataUpdated="@DataUpdated" />

	<PaginationTable PageCurrent="@ReceberPagina"
					 TotalData="@scheduleUserView.TotalData"
					 Page="@scheduleUserView.Page"
					 TotalPage="@scheduleUserView.TotalPage" />
}

@code {
	private PagedResultView<ScheduleUserDto>? scheduleUserView;
	protected override async Task OnInitializedAsync()
	{
		await DataUpdated();
	}
	private async Task DataUpdated()
	{
		var result = await scheduleUserService.GetAll();
		scheduleUserView = result.Value;
		StateHasChanged();
	}
	private async Task ReceberPagina(int pageCurrent)
	{
		var result = await scheduleUserService.GetAll(pageCurrent);
		scheduleUserView = result.Value;
	}
}
