@page "/Agenda"
@inject IAgendaService agendaService
<h3>Cadastro Agenda</h3>
<button data-bs-toggle="modal" data-bs-target="#novaAgenda" class="btn btn-info">
    Nova Agenda
</button>
@if (agendaView is null)
{
    <p>Carregando...</p>
}
else
{
    <TabelaAgenda agendaView="agendaView" />

    <PaginationTable PageCurrent="@ReceberPagina"
                     TotalData="@agendaView.TotalDados"
                     Page="@agendaView.Page"
                     TotalPage="@agendaView.TotalPage" />

    <InsertAgendaModal DataAtualizados="@(() => DadosAtualzados())" />
}

@code {
    private AgendaView? agendaView;

    protected override async Task OnInitializedAsync()
    {
        agendaView = await agendaService.GetAll();
        await base.OnInitializedAsync();
    }
    private async void DadosAtualzados()
    {
        agendaView = await agendaService.GetAll();
        StateHasChanged();
    }
    private async Task ReceberPagina(int paginaAtual)
    {
        agendaView = await agendaService.GetAll(paginaAtual);
    }
}
