@page "/Sala"

@inject ISalaService salaService

<h3>Cadastro Sala</h3>
<button data-bs-toggle="modal" data-bs-target="#novaSala" class="btn btn-info">
    Nova Sala
</button>

@if (salaView is null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <TabelaSala salaView="@salaView" />
    <PaginationTable PageCurrent="@ReceberPagina"
                     TotalData="@salaView.TotalDados"
                     Page="@salaView.Page"
                     TotalPage="@salaView.TotalPage" />
    <InsertSalaModal DataAtualizados="@(() => DadosAtualzados())" />
}

@code {
    private SalaView? salaView;

    protected override async Task OnInitializedAsync()
    {
        salaView = await salaService.GetAll();
    }

    private async void DadosAtualzados()
    {
        salaView = await salaService.GetAll();
        StateHasChanged();
    }
    private async Task ReceberPagina(int paginaAtual)
    {
        salaView = await salaService.GetAll(paginaAtual);
    }
}
