@inject IClientService clientService

<div class="modal fade" id="editClient-@ClientId" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <EditForm Model="@ClientDto" OnValidSubmit="@Edit">
                <InputNumber hidden @bind-Value="ClientDto!.Id" />
                <DataAnnotationsValidator />
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar Cliente</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="row g-3">
                        <div class="col-6">
                            <label for="inName" class="form-label">Nome</label>
                            <InputText class="form-control" id="inName" @bind-Value="ClientDto!.Name" placeholder="Nome" />
                            <ValidationMessage For="@(() => ClientDto.Name)" />
                        </div>
                        <div class="col-6">
                            <label for="inResponsible" class="form-label">Responsável</label>
                            <InputText class="form-control" id="inResponsible" @bind-Value="ClientDto!.Responsible" placeholder="Responsável" />
                            <ValidationMessage For="@(() => ClientDto.Responsible)" />
                        </div>
                        <div class="col-6">
                            <label for="inCargo" class="form-label">Cargo</label>
                            <InputText class="form-control" id="inCargo" @bind-Value="ClientDto!.Position" placeholder="Cargo" />
                            <ValidationMessage For="@(() => ClientDto.Position)" />
                        </div>
                        <div class="col-6">
                            <label for="inCidade" class="form-label">Cidade</label>
                            <InputText class="form-control" id="inCidade" @bind-Value="ClientDto!.City" placeholder="Cidade" />
                            <ValidationMessage For="@(() => ClientDto.City)" />
                        </div>
                        <div class="col-9">
                            <label for="inTelephone" class="form-label">Telefone</label>
                            <InputText mask="(99) 9 9999-9999" type="tel" class="form-control" id="inTelephone" @bind-Value="ClientDto!.Telephone" placeholder="Telefone" />
                        </div>
                        <div class="col-3">
                            <label class="form-label">Opção</label>
                            <div class="form-check">
                                <InputCheckbox class="form-check-input" id="inActive" @bind-Value="ClientDto!.Active" />
                                <label for="inActive" class="form-label">Ativo</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="inDescription" class="form-label">Descrição</label>
                            <InputText class="form-control" id="inDescription" @bind-Value="ClientDto!.Description" placeholder="Descrição" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Salvar</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Action? DataUpdated { get; set; }

    private ClientDto? ClientDto { get; set; } = new();

    [Parameter]
    public int ClientId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ClientDto = await clientService.GetById(ClientId);
    }

    private async Task Edit()
    {
        if (ClientDto is not null)
        {
            var room = await clientService.Update(ClientDto);
            UpdateData();
        }
    }

    private void UpdateData()
    {
        DataUpdated?.Invoke();
    }
}
