@inject IClientService clientService

<div class="border mt-2">
    <table class="table table-striped align-middle">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Estado</th>
                <th>Cidade</th>
                <th>Rua</th>
                <th>Numero</th>
                <th>Jardim</th>
                <th>Descrição</th>
                <th class="text-center">Prospecção</th>
                <th class="text-center">Ativo</th>
                <th class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
            @if (ClientView is not null)
            {
                var clients = ClientView.ClientsDto;

                if (clients is not null)
                {
                    @foreach (var client in clients)
                    {
                        <tr>
                            <td>@client.Id</td>
                            <td>@client.Name</td>
                            @{
                                string tel = client.Telephone!
                                .Replace("-", "")
                                .Replace("(", "")
                                .Replace(")", "")
                                .Replace(" ", "");
                                string tel1 = decimal.Parse(tel).ToString("(##) ####-####");
                                string apiTel = $@"https://api.whatsapp.com/send?phone=55{tel}";
                            }
                            <td><a href="@apiTel" target="_blank">@tel1</a></td>
                            <td>@client.State</td>
                            <td>@client.City</td>
                            <td>@client.Road</td>
                            <td>@client.Number</td>
                            <td>@client.Garden</td>
                            <td>@client.Description</td>
                            <td class="text-center">
                                @(client.Prospection ? "Sim" : "Não")
                            </td>
                            <td class="text-center">
                                @(client.Active ? "Sim" : "Não")
                            </td>
                            <td>
                                <NavLink href=@($"ClientEdit/{client.Id}") class="btn btn-info">
                                    Editar
                                </NavLink>
                                <button data-bs-toggle="modal" data-bs-target="#newContactClient-@client.Id" class="btn btn-info">
                                    Contato
                                </button>
                                <InsertClientContactModal ClientId="@client.Id" ClientName="@client.Name" DataUpdated="@(() => DataUpdate())" />

                                <NavLink href=@($"DetailsClientContact/{client.Id}") class="btn btn-info">
                                    Detalhe
                                </NavLink>
                                <button data-bs-toggle="modal" data-bs-target="#deleteClient-@client.Id" class="btn btn-danger">
                                    Excluir
                                </button>
                                <DeleteClientModal ClientId="@client.Id" DataUpdated="@(() => DataUpdate())" />
                            </td>
                        </tr>

                    }
                }
            }

        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public ClientView? ClientView { get; set; }
    [Parameter]
    public EventCallback DataUpdated { get; set; }

    private async Task DataUpdate()
    {
        await DataUpdated.InvokeAsync(null);
    }
}