@inject IClientService clientService

<div class="border mt-2">
    <table class="table table-striped align-middle">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Resposável</th>
                <th>Telefone</th>
                <th>Descrição</th>
                <th class="text-center">Ativo</th>
                <th class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
            @if (ClientView is not null)
            {
                var clients = ClientView.ClientsDto;

                if (clients is not null)
                {
                    @foreach (var client in clients)
                    {
                        <tr>
                            <td>@client.Id</td>
                            <td>@client.Name</td>
                            <td>@client.Responsible</td>
                            @{
                                string tel = client.Telephone!
                                .Replace("-", "")
                                .Replace("(", "")
                                .Replace(")", "")
                                .Replace(" ", "");
                                string tel1 = decimal.Parse(tel).ToString("(##) ####-####");
                                string apiTel = $@"https://api.whatsapp.com/send?phone=55{tel}";
                            }

                            <td><a href="@apiTel" target="_blank">@tel1</a></td>
                            <td>@client.Description</td>
                            <td class="text-center">
                                @(client.Active ? "Sim" : "Não")
                            </td>
                            <td>
                                <button data-bs-toggle="modal" data-bs-target="#editClient-@client.Id" class="btn btn-info">
                                    Editar
                                </button>
                                <EditClientModal ClientId="@client.Id" DataUpdated="@(() => DataUpdated())" />
                                <button data-bs-toggle="modal" data-bs-target="#deleteClient-@client.Id" class="btn btn-danger">
                                    Excluir
                                </button>
                                <DeleteClientModal ClientId="@client.Id" DataUpdated="@(() => DataUpdated())" />
                            </td>
                        </tr>

                    }
                }
            }

        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public ClientView? ClientView { get; set; }
    private async void DataUpdated()
    {
        ClientView = await clientService.GetAll();
        StateHasChanged();
    }
}