@page "/client/responsible/edit/{ClientResponsibleId:int}"

@inject IClientResponsibleService clientResponsibleService
@inject NavigationManager navigationManager

<h1>Editar Reponsável do Cliente</h1>
<EditForm Model="@clientResponsibleDto" OnValidSubmit="Edit">
	@if (!string.IsNullOrEmpty(errorMessage))
	{
		<MensageError Message="@errorMessage" />
	}
	<DataAnnotationsValidator />
	<InputNumber hidden @bind-Value="clientResponsibleDto!.Id" />
	<div class="row g-3">
		<div class="col-12">
			<label for="inNome" class="form-label">Nome</label>
			<InputText class="form-control" id="inNome" @bind-Value="clientResponsibleDto!.Name" placeholder="Nome" />
			<ValidationMessage For="@(() => clientResponsibleDto.Name)" />
		</div>

		<div class="col-6">
			<label for="inEmail" class="form-label">E-mail</label>
			<InputText class="form-control" id="inEmail" @bind-Value="clientResponsibleDto!.Email" placeholder="E-mail" />
			<ValidationMessage For="@(() => clientResponsibleDto.Email)" />


		</div>
		<div class="col-6">
			<label for="inPosition" class="form-label">Cargo</label>
			<InputText class="form-control" id="inPosition" @bind-Value="clientResponsibleDto!.Position" placeholder="Cargo" />
		</div>
		<div class="col-12">
			<label for="inDescription" class="form-label">Descrição</label>
			<InputText class="form-control" id="inDescription" @bind-Value="clientResponsibleDto!.Description" placeholder="Descrição" />
		</div>
		<div class="col-6">
			<div class="form-check">
				<InputCheckbox class="form-check-input" id="inActive" @bind-Value="clientResponsibleDto!.Active" />
				<label for="inActive" class="form-label">Ativo</label>
			</div>
		</div>
	</div>
	<div class="mt-4 d-flex gap-2">
		<button type="submit" class="btn btn-primary" disabled="@isSubmitting">
			@((isSubmitting) ? "Salvando..." : "Salvar")
		</button>
		<button type="button" @onclick="Voltar" class="btn btn-info">Voltar</button>
	</div>
</EditForm>

@code {

	[Parameter]
	public int ClientResponsibleId { get; set; }
	private string? errorMessage;
	private bool isSubmitting = false;

	private ClientResponsibleDto clientResponsibleDto = new();

	protected override async Task OnInitializedAsync()
	{
		var clientResponsible = await clientResponsibleService.GetById(ClientResponsibleId);
		if (clientResponsible.IsSuccess)
			clientResponsibleDto = clientResponsible.Value;
		else
			errorMessage = $"Não foi possível carregar o usuário: {clientResponsible.Error.Message}";
	}

	private async Task Edit()
	{
		isSubmitting = true;
		errorMessage = null;
		try
		{
			var clientResponsible = await clientResponsibleService.Update(clientResponsibleDto);
			if (clientResponsible.IsFailure)
			{
				errorMessage = clientResponsible.Error.Message;
				return;
			}
			navigationManager.NavigateTo("/client/responsible");
		}
		catch (Exception ex)
		{
			errorMessage = $"Erro inesperado ao salvar usuário: {ex.Message}";
		}
		finally
		{
			isSubmitting = false;
		}

	}
	private void Voltar()
	{
		navigationManager.NavigateTo("/client/responsible");
	}
}
