@using System.Globalization
@{
    CultureInfo cultureInfo = new("pr-BR");
    DateTime dateStartMonth = new DateTime(competence.Year, competence.Month, 1);
    DateTime dateEndMonth = new DateTime(competence.Year, competence.Month, DateTime.DaysInMonth(competence.Year, competence.Month));
}

@inject IScheduleUserService scheculeUserService
@inject IScheduleService scheduleService

<div class="teste">
    <div class="calendario">
        <div class="desc-mes">
            <div class="titulo">
                <p>Agenda JS Maringá</p>
            </div>
            <nav>
                <ul class="pagination">
                    <li class="page-room">
                        <button class="page-link pn-mes" @onclick="PreviousMonth">
                            <span aria-hidden="true">&laquo;</span>
                        </button>
                    </li>
                    <li class="page-room nome-mes">
                        <p class="page-link">@competence.ToString("MMMM/yyyy", cultureInfo)</p>
                    </li>
                    <li class="page-room">
                        <button class="page-link pn-mes" @onclick="NextMonth">
                            <span aria-hidden="true">&raquo;</span>
                        </button>
                    </li>
                </ul>
            </nav>
            <div>
                <NavLink class="nav-link" href="Login" Match="NavLinkMatch.Prefix">Menu</NavLink>
            </div>
        </div>
        <div class="dia-semana">
            <span>Domingo</span>
            <span>Segunda-feira</span>
            <span>Terça-feira</span>
            <span>Quarta-feira</span>
            <span>Quinta-feira</span>
            <span>Sexta-feira</span>
            <span>Sábado</span>
        </div>
        <div class="centro-mes">
            <div class="dia-mes">
                @for (int i = 0; i < dateEndMonth.Day; i++)
                {
                    int numWeek = ((int)dateStartMonth.AddDays(i).DayOfWeek);
                    DateTime currentDate = dateStartMonth.AddDays(i);

                    @if (@dateStartMonth.AddDays(i).Day == 1)
                    {
                        @for (int y = 0; y < numWeek; y++)
                        {
                            <span class="vazio"></span>
                        }
                    }
                    <span class="@(numWeek == 0 && dateStartMonth.AddDays(i).Date == DateTime.Now.Date ? "dia-atual dia" :
                                  (numWeek == 0 ? "domingo dia" :
                                  (numWeek == 6 && dateStartMonth.AddDays(i).Date == DateTime.Now.Date ? "dia-atual dia" :
                                  (numWeek == 6 ? "sabado dia" :
                                  (dateStartMonth.AddDays(i).Date == DateTime.Now.Date ? "dia-atual dia" :
                                  "dia" )))))">
                        <b>
                            @dateStartMonth.AddDays(i).Day
                        </b>

                        @if (!dailyScheduleData.ContainsKey(currentDate) || dailyScheduleData[currentDate] is null)
                        {
                            <div class="spinner-border spinner-border-sm" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        }
                        else
                        {
                            var scheduleUsers = dailyScheduleData[currentDate];

                            var scheduleIdAnterior = 0;
                            string dado = string.Empty;

                            @foreach (var scheduleUser in scheduleUsers)
                            {
                                var scheduleId = scheduleUser.ScheduleId;
                               
                                if (scheduleUser.ScheduleDto.DateStart.Date == dateStartMonth.AddDays(i).Date)
                                {
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#tableScheduleUser-@dateStartMonth.AddDays(i).Date.ToString("ddMMyyyy")">


                                        @foreach (var item in ScheduleUserDtos)
                                        {
                                            if (item.ScheduleDto.Particular)
                                            {
                                                dado = string.Empty;
                                                dado = $"{item.UserDto.Name} - Particular";
                                            }
                                            else
                                            {
                                                dado += $"{item.UserDto.Name}, ";
                                            }
                                        }

                                        @{
                                            // if (scheduleUser.ScheduleDto.Particular)
                                            // {
                                            //     dado = string.Empty;
                                            //     dado = $"{scheduleUser.UserDto.Name} - Particular";
                                            // }
                                            // else
                                            // {
                                            //     if (scheduleId != scheduleIdAnterior)
                                            //     {
                                            //         dado = string.Empty;
                                            //     }

                                            //     dado = string.Join(", ",
                                            //     scheduleUser.UserDto.Name,
                                            //     $"Das: {scheduleUser.ScheduleDto.DateStart.ToString("HH:mm")} " +
                                            //     $"as {scheduleUser.ScheduleDto.DateFinal.ToString("HH:mm")}");
                                            // }
                                        }
                                        @dado
                                    </a>

                                    @* <TableScheduleUserModal UserId="@user.UserId" ClientId="@user.ClientId" DateSelected="@dateStartMonth.AddDays(i).Date" /> *@
                                }
                            }
                        }
                    </span>
                }
            </div>
        </div>
    </div>
</div>


@code {

    DateTime competence = DateTime.Now.Date;

    private ScheduleUserView? ScheduleUserView { get; set; } = new();
    private ScheduleView? ScheduleView { get; set; } = new();
    private List<int>? SchedulesId { get; set; } = new();
    public IEnumerable<ScheduleUserDto>? ScheduleUserDtos { get; set; } = [];

    private Dictionary<DateTime, IEnumerable<ScheduleUserDto>> dailyScheduleData = new Dictionary<DateTime, IEnumerable<ScheduleUserDto>>();

    private int UserId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadDataMonth(competence);
    }

    private async Task<List<ScheduleUserDto>> LoadDatas(DateTime dateSchedule)
    {
        var scheduleUserDtos = await scheculeUserService.GetByScheduleUserDateStart(dateSchedule);

        var scheduleUserDtosDates = scheduleUserDtos
        .Where(w => w.ScheduleDto.DateStart.Date == dateSchedule.Date)
        .GroupBy(g => new
        {
            SchedulesId = g.ScheduleId,
            DateStart = g.ScheduleDto.DateStart

        })
        .Select(s => new ScheduleUserDto
            {
                ScheduleId = s.Key.SchedulesId,
                ScheduleDto = new()
                {
                    DateStart = s.Key.DateStart
                }
            })
            .ToList();
        return scheduleUserDtosDates;
    }

    private async Task SearchUserSchedue(int scheduleId)
    {
        ScheduleUserDtos = await scheculeUserService.GetByScheduleId(scheduleId);
    }

    private async Task LoadDataMonth(DateTime competence)
    {
        DateTime dateStartMonth = new DateTime(competence.Year, competence.Month, 1);
        DateTime dateEndMonth = new DateTime(competence.Year, competence.Month, DateTime.DaysInMonth(competence.Year, competence.Month));

        for (int i = 0; i < dateEndMonth.Day; i++)
        {
            DateTime currentDate = dateStartMonth.AddDays(i);
            dailyScheduleData[currentDate] = await LoadDatas(currentDate);
        }
    }
    private async Task NextMonth()
    {
        DateTime competenceAdd = competence.AddMonths(1);
        competence = competenceAdd;

        await LoadDataMonth(competence);
    }
    private async Task PreviousMonth()
    {
        DateTime competenceRemove = competence.AddMonths(-1);
        competence = competenceRemove;

        await LoadDataMonth(competence);
    }
}