@page "/Client"
@layout NewLayout
@inject ITokenStorageService tokenStorageService
@inject IClientService clientService
@inject NavigationManager navigationManager

<h3>Cadastro de Cliente</h3>
<button data-bs-toggle="modal" data-bs-target="#newClient" class="btn btn-info">
    Novo Cliente
</button>

@if (clientView is null)
{
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
else
{
    <TableClient ClientView="@clientView" />
    <PaginationTable PageCurrent="@ReceberPagina"
                     TotalData="@clientView.TotalData"
                     Page="@clientView.Page"
                     TotalPage="@clientView.TotalPage" />
    <InsertClientModal DataUpdated="@(() => DataUpdated())" />
}

@code {
    private ClientView? clientView;
    private LoginDto? LoginDto { get; set; } = new();
    protected override async Task OnInitializedAsync()
    {
        var token = await tokenStorageService.GetToken(LoginDto!);
        if (token.Bearer is null)
        {
            await tokenStorageService.RemoverToken();
            navigationManager.NavigateTo("/Login", true);
        }

        if (token.Bearer is not null)
        {
            clientView = await clientService.GetAll();
        }
    }

    private async void DataUpdated()
    {
        clientView = await clientService.GetAll();
        StateHasChanged();
    }
    private async Task ReceberPagina(int pageCurrent)
    {
        clientView = await clientService.GetAll(pageCurrent);

    }
}