@page "/Schedule"
@inject IScheduleService scheduleService
<h3>Cadastro Agenda</h3>
<button data-bs-toggle="modal" data-bs-target="#newSchedule" class="btn btn-info">
    Nova Agenda
</button>
@if (scheduleView is null)
{
    <p>Carregando...</p>
}
else
{
    <TableSchedule ScheduleView="scheduleView" />

    <PaginationTable PageCurrent="@ReceberPagina"
                     TotalData="@scheduleView.TotalData"
                     Page="@scheduleView.Page"
                     TotalPage="@scheduleView.TotalPage" />

    <InsertScheduleModal DataUpdated="@(() => DataUpdated())" />
}

@code {
    private ScheduleView? scheduleView;

    protected override async Task OnInitializedAsync()
    {
        scheduleView = await scheduleService.GetAll();
    }
    private async void DataUpdated()
    {
        scheduleView = await scheduleService.GetAll();
        StateHasChanged();
    }
    private async Task ReceberPagina(int pageCurrent)
    {
        scheduleView = await scheduleService.GetAll(pageCurrent);
    }
}
