@page "/User"

@inject IUserService userService

<h3>Cadastro de Usuário</h3>
<button data-bs-toggle="modal" data-bs-target="#newUser" class="btn btn-info">
    Novo Usuário
</button>

@if (userView is null)
{
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
else
{
    <TableUser UserView="@userView" />
    <PaginationTable PageCurrent="@ReceberPagina"
                     TotalData="@userView.TotalData"
                     Page="@userView.Page"
                     TotalPage="@userView.TotalPage" />
    <InsertUserModal DataUpdated="@(() => DataUpdated())" />
}

@code {
    private UserView? userView;

    protected override async Task OnInitializedAsync()
    {
        userView = await userService.GetAll();
    }

    private async void DataUpdated()
    {
        userView = await userService.GetAll();
        StateHasChanged();
    }
    private async Task ReceberPagina(int pageCurrent)
    {
        userView = await userService.GetAll(pageCurrent);

    }
}