@inject IScheduleUserService scheduleUserService

<div class="border mt-2">
    <table class="table table-striped align-middle">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descrição</th>
                <th>Data/Hora Inicio</th>
                <th>Data/Hora Fim</th>
                <th>Permitir Ligar</th>
                <th>Permitir Chamar</th>
                <th>Cliente</th>
                <th>Usuário</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @if (ScheduleUserView is not null)
            {
                var schedules = ScheduleUserView.ScheduleUsersDto;

                if (schedules is not null)
                {
                    @foreach (var schedule in schedules)
                    {
                        <tr>
                            <td>@schedule.Id</td>
                            <td>@schedule.Description</td>
                            <td>@schedule.DateStart</td>
                            <td>@schedule.DateFinal</td>
                            <td class="text-center">@(schedule.AllowCall ? "Sim" : "Não")</td>
                            <td class="text-center">@(schedule.AllowChat ? "Sim" : "Não")</td>
                            <td>@schedule.User</td>
                            <td>
                                <button data-bs-toggle="modal" data-bs-target="#editSchedule-@schedule.Id" class="btn btn-info">
                                    Editar
                                </button>
                                <EditScheduleUserModal ScheduleId="@schedule.Id" DataUpdated="@(() => DataUpdated())" />
                                <button data-bs-toggle="modal" data-bs-target="#deletarSala-@schedule.Id" class="btn btn-danger">
                                    Excluir
                                </button>
                                <DeleteScheduleUserModal ScheduleId="@schedule.Id" DataUpdated="@(() => DataUpdated())" />
                            </td>
                        </tr>
                    }
                }

            }

        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public ScheduleUserView? ScheduleUserView { get; set; }
    private async void DataUpdated()
    {
        ScheduleUserView = await scheduleUserService.GetAll();
        StateHasChanged();
    }
}