@using System.Globalization
@inject IUserService userService

<div class="border mt-2">
    <table class="table table-striped align-middle">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th class="text-center">Gestor</th>
                <th class="text-center">Ativo</th>
                <th>Usuário</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @if (UserView is not null)
            {
                var users = UserView.UsersDto;

                if (users is not null)
                {
                    @foreach (var user in users)
                    {
                        <tr>
                            <td>@user.Id</td>
                            <td>@user.Name</td>
                            <td>@user.Description</td>
                            <td class="text-center">
                                @(user.Manager ? "Sim" : "Não")
                            </td>
                            <td class="text-center">
                                @(user.Active ? "Sim" : "Não")
                            </td>
                            <td>@user.Username</td>
                            <td>

                                <NavLink href=@($"UserEdit/{user.Id}") class="btn btn-info">
                                    Editar
                                </NavLink>


                                <button data-bs-toggle="modal" data-bs-target="#newContactUser-@user.Id" class="btn btn-info">
                                    Add Contato
                                </button>
                                <InsertUserContactModal UserId="@user.Id" UserName="@user.Name" DataUpdated="@DataUpdated" />

                                <NavLink href=@($"/DetailsUserContact/{user.Id}") class="btn btn-info">
                                    Detalhe
                                </NavLink>

                                <button data-bs-toggle="modal" data-bs-target="#deleteUser-@user.Id" class="btn btn-danger">
                                    Excluir
                                </button>
                                <DeleteUserModal UserId="@user.Id" DataUpdated="@(() => DataUpdated())" />
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public UserView? UserView { get; set; }

    private async Task DataUpdated()
    {
        UserView = await userService.GetAll();
        StateHasChanged();
    }
}