@{
    DateTime dataInicioMes = new DateTime(competencia.Year, competencia.Month, 1);
    DateTime dataFimMes = new DateTime(competencia.Year, competencia.Month, DateTime.DaysInMonth(competencia.Year, competencia.Month));
}

<div class="calendario">
    <div class="desc-mes">
        <div>
            <button @onclick="AnteriorMes">&lt;</button>
            <p>@competencia.ToString("MMMM/yyyy")</p>
            <button @onclick="ProximoMes">&gt;</button>
        </div>
    </div>
    <div class="dia-semana">
        <span>Domingo</span>
        <span>Segunda-feira</span>
        <span>Terça-feira</span>
        <span>Quarta-feira</span>
        <span>Quinta-feira</span>
        <span>Sexta-feira</span>
        <span>Sábado</span>
    </div>
    <div class="dia-mes">
        @for (int i = 0; i < dataFimMes.Day; i++)
        {
            int numSemama = ((int)dataInicioMes.AddDays(i).DayOfWeek);

            @switch (numSemama)
            {
                case 0:
                    <span class="domingo dia">@dataInicioMes.AddDays(i).Day</span>
                    break;
                case 1:
                    if (@dataInicioMes.AddDays(i).Day == 1)
                    {
                        <span class="vazio"></span>
                    }
                    if (@dataInicioMes.AddDays(i).Date == DateTime.Now.Date)
                    {
                        <span class="dia-atual dia">
                            @dataInicioMes.AddDays(i).Day

                            @for (int y = 0; y < quantidadeSalas; y++)
                            {
                                <a href="#">@informacaoAgendaDia - @y.ToString("00")</a>
                            }

                        </span>
                    }
                    else
                    {
                        <span class="dia">@dataInicioMes.AddDays(i).Day</span>
                    }

                    break;
                case 2:
                    if (@dataInicioMes.AddDays(i).Day == 1)
                    {
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                    }
                    if (@dataInicioMes.AddDays(i).Date == DateTime.Now.Date)
                    {
                        <span class="dia-atual dia">
                            @dataInicioMes.AddDays(i).Day
                            @for (int y = 0; y < quantidadeSalas; y++)
                            {
                                <a href="#">@informacaoAgendaDia - @y.ToString("00")</a>
                            }
                        </span>
                    }
                    else
                    {
                        <span class="dia">@dataInicioMes.AddDays(i).Day</span>
                    }
                    break;
                case 3:
                    if (@dataInicioMes.AddDays(i).Day == 1)
                    {
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                    }
                    if (@dataInicioMes.AddDays(i).Date == DateTime.Now.Date)
                    {
                        <span class="dia-atual dia">
                            @dataInicioMes.AddDays(i).Day
                            @for (int y = 0; y < quantidadeSalas; y++)
                            {
                                <a href="#">@informacaoAgendaDia - @y.ToString("00")</a>
                            }
                        </span>
                    }
                    else
                    {
                        <span class="dia">@dataInicioMes.AddDays(i).Day</span>
                    }
                    break;
                case 4:
                    if (@dataInicioMes.AddDays(i).Day == 1)
                    {
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                    }
                    if (@dataInicioMes.AddDays(i).Date == DateTime.Now.Date)
                    {
                        <span class="dia-atual dia">
                            @dataInicioMes.AddDays(i).Day
                            @for (int y = 0; y < quantidadeSalas; y++)
                            {
                                <a href="#">@informacaoAgendaDia - @y.ToString("00")</a>
                            }
                        </span>
                    }
                    else
                    {
                        <span class="dia">@dataInicioMes.AddDays(i).Day</span>
                    }
                    break;
                case 5:
                    if (@dataInicioMes.AddDays(i).Day == 1)
                    {
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                    }
                    if (@dataInicioMes.AddDays(i).Date == DateTime.Now.Date)
                    {
                        <span class="dia-atual dia">
                            @dataInicioMes.AddDays(i).Day
                            @for (int y = 0; y < quantidadeSalas; y++)
                            {
                                <a href="#">@informacaoAgendaDia - @y.ToString("00")</a>
                            }
                        </span>
                    }
                    else
                    {
                        <span class="dia">@dataInicioMes.AddDays(i).Day</span>
                    }
                    break;
                case 6:
                    if (@dataInicioMes.AddDays(i).Day == 1)
                    {
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                    }
                    if (@dataInicioMes.AddDays(i).Date == DateTime.Now.Date)
                    {
                        <span class="dia-atual dia">
                            @dataInicioMes.AddDays(i).Day
                            @for (int y = 0; y < quantidadeSalas; y++)
                            {
                                <a href="#">@informacaoAgendaDia - @y.ToString("00")</a>
                            }
                        </span>
                    }
                    else
                    {
                        <span class="sabado dia">@dataInicioMes.AddDays(i).Day</span>
                    }
                    break;
                default:
                    break;
            }
        }
    </div>

</div>

@code {

    [Parameter]
    public int quantidadeSalas { get; set; }
    DateTime competencia = DateTime.Now.Date;


    int ultimoDiaMes;
    string? informacaoAgendaDia;


    private void AgendaSala(int codigoSala)
    {
        informacaoAgendaDia = "Sala";
    }

    protected override void OnInitialized()
    {

        AgendaSala(1);
        base.OnInitialized();
    }

    private void ProximoMes()
    {
        DateTime competenciaAdd = competencia.AddMonths(1);
        competencia = competenciaAdd;

    }
    private void AnteriorMes()
    {
        DateTime competenciaRemove = competencia.AddMonths(-1);
        competencia = competenciaRemove;
    }
}
