<div>
    <span>@dataInicioMes.Date.ToString("MM/yyyy")</span>
</div>
<div class="calendario">
    <div class="dia-semana">
        <span>Domingo</span>
        <span>Segunda-feira</span>
        <span>Terça-feira</span>
        <span>Quarta-feira</span>
        <span>Quinta-feira</span>
        <span>Sexta-feira</span>
        <span>Sábado</span>
    </div>
    <div class="dia-mes">
        @for (int i = 0; i < ultimoDiaMes; i++)
        {
            int numSemama = ((int)dataInicioMes.AddDays(i).DayOfWeek);

            @switch (numSemama)
            {
                case 0:
                    <span>@dataInicioMes.AddDays(i).Day</span>
                    break;
                case 1:
                    if (@dataInicioMes.AddDays(i).Day == 1)
                    {
                        <span class="vazio"></span>
                    }
                    if (@dataInicioMes.AddDays(i).Day == DateTime.Now.Day)
                    {
                        <span class="dia-atual">
                            @dataInicioMes.AddDays(i).Day

                            @for (int y = 0; y < 2; y++)
                            {
                                <a href="#">@informacaoAgendaDia</a>
                            }

                        </span>
                    }
                    else
                    {
                        <span>@dataInicioMes.AddDays(i).Day</span>
                    }

                    break;
                case 2:
                    if (@dataInicioMes.AddDays(i).Day == 1)
                    {
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                    }
                    if (@dataInicioMes.AddDays(i).Day == DateTime.Now.Day)
                    {
                        <span class="dia-atual">
                            @dataInicioMes.AddDays(i).Day
                            @for (int y = 0; y < 2; y++)
                            {
                                <a href="#">@informacaoAgendaDia</a>
                            }
                        </span>
                    }
                    else
                    {
                        <span>@dataInicioMes.AddDays(i).Day</span>
                    }
                    break;
                case 3:
                    if (@dataInicioMes.AddDays(i).Day == 1)
                    {
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                    }
                    if (@dataInicioMes.AddDays(i).Day == DateTime.Now.Day)
                    {
                        <span class="dia-atual">
                            @dataInicioMes.AddDays(i).Day
                            @for (int y = 0; y < 2; y++)
                            {
                                <a href="#">@informacaoAgendaDia</a>
                            }
                        </span>
                    }
                    else
                    {
                        <span>@dataInicioMes.AddDays(i).Day</span>
                    }
                    break;
                case 4:
                    if (@dataInicioMes.AddDays(i).Day == 1)
                    {
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                    }
                    if (@dataInicioMes.AddDays(i).Day == DateTime.Now.Day)
                    {
                        <span class="dia-atual">
                            @dataInicioMes.AddDays(i).Day
                            @for (int y = 0; y < 2; y++)
                            {
                                <a href="#">@informacaoAgendaDia</a>
                            }
                        </span>
                    }
                    else
                    {
                        <span>@dataInicioMes.AddDays(i).Day</span>
                    }
                    break;
                case 5:
                    if (@dataInicioMes.AddDays(i).Day == 1)
                    {
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                    }
                    if (@dataInicioMes.AddDays(i).Day == DateTime.Now.Day)
                    {
                        <span class="dia-atual">
                            @dataInicioMes.AddDays(i).Day
                            @for (int y = 0; y < 2; y++)
                            {
                                <a href="#">@informacaoAgendaDia</a>
                            }
                        </span>
                    }
                    else
                    {
                        <span>@dataInicioMes.AddDays(i).Day</span>
                    }
                    break;
                case 6:
                    if (@dataInicioMes.AddDays(i).Day == 1)
                    {
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                    }
                    if (@dataInicioMes.AddDays(i).Day == DateTime.Now.Day)
                    {
                        <span class="dia-atual">
                            @dataInicioMes.AddDays(i).Day
                            @for (int y = 0; y < 2; y++)
                            {
                                <a href="#">@informacaoAgendaDia</a>
                            }
                        </span>
                    }
                    else
                    {
                        <span>@dataInicioMes.AddDays(i).Day</span>
                    }
                    break;
                default:
                    break;
            }
        }
    </div>

</div>

@code {
    DateTime dataInicioMes = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);
    DateTime dataFimMes = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.DaysInMonth(DateTime.Now.Year, DateTime.Now.Month));

    // DateTime dataInicioMes = new DateTime(2023, 09, 1);
    // DateTime dataFimMes = new DateTime(2023, 09, 30);


    int ultimoDiaMes;
    string? informacaoAgendaDia;
    private void teste()
    {
        ultimoDiaMes = dataFimMes.Day;

    }

    private void AgendaSala(int codigoSala)
    {
        informacaoAgendaDia = "Sala 01";
    }

    protected override void OnInitialized()
    {
        teste();
        AgendaSala(1);
        base.OnInitialized();
    }
}
