@{

    DateTime dataInicioMes = new DateTime(competencia.Mes.Year, competencia.Mes.Month, 1);
    DateTime dataFimMes = new DateTime(competencia.Mes.Year, competencia.Mes.Month, DateTime.DaysInMonth(competencia.Mes.Year, competencia.Mes.Month));

}


<EditForm Model="@competencia">
    <InputDate @bind-Value="@competencia.Mes" />
    <span>@competencia.Mes.Date.ToString("MM/yyyy")</span>
</EditForm>
<div class="calendario">
    <div class="dia-semana">
        <span>Domingo</span>
        <span>Segunda-feira</span>
        <span>Terça-feira</span>
        <span>Quarta-feira</span>
        <span>Quinta-feira</span>
        <span>Sexta-feira</span>
        <span>Sábado</span>
    </div>
    <div class="dia-mes">
        @for (int i = 0; i < dataFimMes.Day; i++)
        {
            int numSemama = ((int)dataInicioMes.AddDays(i).DayOfWeek);

            @switch (numSemama)
            {
                case 0:
                    <span class="domingo dia">@dataInicioMes.AddDays(i).Day</span>
                    break;
                case 1:
                    if (@dataInicioMes.AddDays(i).Day == 1)
                    {
                        <span class="vazio"></span>
                    }
                    if (@dataInicioMes.AddDays(i).Date == DateTime.Now.Date)
                    {
                        <span class="dia-atual dia">
                            @dataInicioMes.AddDays(i).Day

                            @for (int y = 0; y < quantidadeSalas; y++)
                            {
                                <a href="#">@informacaoAgendaDia - @y.ToString("00")</a>
                            }

                        </span>
                    }
                    else
                    {
                        <span class="dia">@dataInicioMes.AddDays(i).Day</span>
                    }

                    break;
                case 2:
                    if (@dataInicioMes.AddDays(i).Day == 1)
                    {
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                    }
                    if (@dataInicioMes.AddDays(i).Date == DateTime.Now.Date)
                    {
                        <span class="dia-atual dia">
                            @dataInicioMes.AddDays(i).Day
                            @for (int y = 0; y < quantidadeSalas; y++)
                            {
                                <a href="#">@informacaoAgendaDia - @y.ToString("00")</a>
                            }
                        </span>
                    }
                    else
                    {
                        <span class="dia">@dataInicioMes.AddDays(i).Day</span>
                    }
                    break;
                case 3:
                    if (@dataInicioMes.AddDays(i).Day == 1)
                    {
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                    }
                    if (@dataInicioMes.AddDays(i).Date == DateTime.Now.Date)
                    {
                        <span class="dia-atual dia">
                            @dataInicioMes.AddDays(i).Day
                            @for (int y = 0; y < quantidadeSalas; y++)
                            {
                                <a href="#">@informacaoAgendaDia - @y.ToString("00")</a>
                            }
                        </span>
                    }
                    else
                    {
                        <span class="dia">@dataInicioMes.AddDays(i).Day</span>
                    }
                    break;
                case 4:
                    if (@dataInicioMes.AddDays(i).Day == 1)
                    {
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                    }
                    if (@dataInicioMes.AddDays(i).Date == DateTime.Now.Date)
                    {
                        <span class="dia-atual dia">
                            @dataInicioMes.AddDays(i).Day
                            @for (int y = 0; y < quantidadeSalas; y++)
                            {
                                <a href="#">@informacaoAgendaDia - @y.ToString("00")</a>
                            }
                        </span>
                    }
                    else
                    {
                        <span class="dia">@dataInicioMes.AddDays(i).Day</span>
                    }
                    break;
                case 5:
                    if (@dataInicioMes.AddDays(i).Day == 1)
                    {
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                    }
                    if (@dataInicioMes.AddDays(i).Date == DateTime.Now.Date)
                    {
                        <span class="dia-atual dia">
                            @dataInicioMes.AddDays(i).Day
                            @for (int y = 0; y < quantidadeSalas; y++)
                            {
                                <a href="#">@informacaoAgendaDia - @y.ToString("00")</a>
                            }
                        </span>
                    }
                    else
                    {
                        <span class="dia">@dataInicioMes.AddDays(i).Day</span>
                    }
                    break;
                case 6:
                    if (@dataInicioMes.AddDays(i).Day == 1)
                    {
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                        <span class="vazio"></span>
                    }
                    if (@dataInicioMes.AddDays(i).Date == DateTime.Now.Date)
                    {
                        <span class="dia-atual dia">
                            @dataInicioMes.AddDays(i).Day
                            @for (int y = 0; y < quantidadeSalas; y++)
                            {
                                <a href="#">@informacaoAgendaDia - @y.ToString("00")</a>
                            }
                        </span>
                    }
                    else
                    {
                        <span class="sabado dia">@dataInicioMes.AddDays(i).Day</span>
                    }
                    break;
                default:
                    break;
            }
        }
    </div>

</div>

@code {

    [Parameter]
    public int quantidadeSalas { get; set; }
    private Competencia competencia = new();


    int ultimoDiaMes;
    string? informacaoAgendaDia;


    private void AgendaSala(int codigoSala)
    {
        informacaoAgendaDia = "Sala";
    }

    protected override void OnInitialized()
    {

        AgendaSala(1);
        base.OnInitialized();
    }

    private class Competencia
    {
        public DateTime Mes { get; set; } = DateTime.Now.Date;
    }
}
