@inject IAgendaService agendaService

<div class="border mt-2">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descrição</th>
                <th>Data/Hora Inicio</th>
                <th>Data/Hora Fim</th>
                <th>Permitir Ligar</th>
                <th>Permitir Chamar</th>
                <th>Sala</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @if (agendaView is not null)
            {
                var agendas = agendaView.AgendasDto;

                if (agendas is not null)
                {
                    @foreach (var agenda in agendas)
                    {
                        <tr>
                            <td>@agenda.Id</td>
                            <td>@agenda.Descricao</td>
                            <td>@agenda.DataInicio</td>
                            <td>@agenda.DataFinal</td>
                            <td>@(agenda.PermitirLigar ? "Sim" : "Não")</td>
                            <td>@(agenda.PermitirChamar ? "Sim" : "Não")</td>
                            <td>@agenda.Sala</td>
                            <td>
                                <button data-bs-toggle="modal" data-bs-target="#editarAgenda-@agenda.Id" class="btn btn-info">
                                    Editar
                                </button>
                                <EditAgendaModal AgendaId="@agenda.Id" DataAtualizados="@(() => DadosAtualzados())" />
                                <button data-bs-toggle="modal" data-bs-target="#deletarSala-@agenda.Id" class="btn btn-danger">
                                    Excluir
                                </button>
                                <DeleteAgendaModal AgendaId="@agenda.Id" DataAtualizados="@(() => DadosAtualzados())" />
                            </td>
                        </tr>
                    }
                }

            }

        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public AgendaView? agendaView { get; set; }
    private async void DadosAtualzados()
    {
        agendaView = await agendaService.GetAll();
        StateHasChanged();
    }
}