@inject IAgendaService agendaService
<div class="modal fade" id="tabalaAgenda-@SalaId-@DataSelecionada.ToString("ddMMyyyy")" tabindex="-1" aria-labelledby="tabalaAgendaLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="tabalaAgendaLabel">Consulta do dia</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="border">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Descrição</th>
                                <th>Data Inicio</th>
                                <th>Data Fim</th>
                                <th>Permitir Ligar</th>
                                <th>Permitir Chamar</th>
                                <th>Sala</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (agendaView is not null)
                            {
                                var agendas = agendaView;

                                if (agendas is not null)
                                {
                                    @foreach (var agenda in agendas)
                                    {
                                        <tr>
                                            <td>@agenda.Id</td>
                                            <td>@agenda.Descricao</td>
                                            <td>@agenda.DataInicio</td>
                                            <td>@agenda.DataFinal</td>
                                            <td>@agenda.PermitirLigar</td>
                                            <td>@agenda.PermitirChamar</td>
                                            <td>@agenda.Sala</td>

                                        </tr>
                                    }
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@code {

    private IEnumerable<AgendaDto>? agendaView { get; set; }

    [Parameter]
    public int SalaId { get; set; }

    [Parameter]
    public DateTime DataSelecionada { get; set; }

    protected override async Task OnInitializedAsync()
    {
        agendaView = await agendaService.GetByAgendaActiveSalaId(SalaId, DataSelecionada);

        StateHasChanged();
    }
}