@{
    DateTime dataInicioMes = DateTime.Now.Date;
    int ultimoDiaMes = DateTime.DaysInMonth(dataInicioMes.Year, dataInicioMes.Month);
}

<div>
    <span>@dataInicioMes.ToString("MM/yyyy")</span>
</div>
<div class="calendario">
    <div class="dia-semana">
        <span>Domingo</span>
        <span>Segunda-feira</span>
        <span>Terça-feira</span>
        <span>Quarta-feira</span>
        <span>Quinta-feira</span>
        <span>Sexta-feira</span>
        <span>Sábado</span>
    </div>
    <div class="dia-mes">
        @for (int i = 0; i < ultimoDiaMes; i++)
        {
            var currentDate = dataInicioMes.AddDays(i);
            int numSemana = (int)currentDate.DayOfWeek;

            <span class="@(numSemana == 0 ? "domingo" : (numSemana == 6 ? "sabado" : ""))">
                @if (currentDate == DateTime.Now.Date)
                {
                    <span class="dia-atual">
                        @currentDate.Day
                        @for (int y = 0; y < quantidadeSalas; y++)
                        {
                            <a href="#">@informacaoAgendaDia</a>
                        }
                    </span>
                }
                else if (numSemana == 0 && i != 0)
                {
                    <span class="vazio"></span>
                    i--; // Para ajustar o contador nos domingos
                }
                else
                {
                    <span>@currentDate.Day</span>
                }
            </span>
        }
    </div>
</div>

@code {
    [Parameter] public int quantidadeSalas { get; set; }

    string? informacaoAgendaDia = "Sala";
}